Source: ros-jazzy-qrb-ros-robot-base-urdf
Section: misc
Priority: optional
Maintainer: Chengheng Tan <chenghen@qti.qualcomm.com>
Build-Depends: debhelper-compat (=13), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>
Homepage:https://github.com/qualcomm-qrb-ros/qrb_ros_robot_base
Standards-Version: 3.9.2

Package: ros-jazzy-qrb-ros-robot-base-urdf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-joint-state-publisher, ros-jazzy-robot-state-publisher, ros-jazzy-xacro
Description: URDF description for Robot base
